In [179]:
import pandas as pd
import numpy as np

In this project, I would like to show the top 3 countries if you want to get killed by a shark and what activity you wanna join in order to be successful :) .

TOP 3  : 
 
1 - AUSTRALIA
2 - USA 
3 - SOUTH AFRICA

Most dangerous activity : 

- Surfing

In [2]:
df = pd.read_csv('attacks.csv', encoding='latin1')

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [138]:
df.info

<bound method DataFrame.info of            Country                                           Activity  \
4636   PHILIPPINES  USS Hoel DD 533 sunk on 10/24/1944 in the Batt...
1679         TONGA  Five men on makeshift raft after their 10 m fi...
1678         TONGA  Five men on makeshift raft after their 10 m fi...
2035         TONGA                                       Scuba diving
6049        AFRICA                                  Jumped into river
...            ...                                                ...
5547        YEMEN                        Diving around anchored liner
5611        YEMEN             Wreck of the steamship Sultan of Bombay
5473        YEMEN                        Diving around anchored liner
5591        YEMEN                      Swimming at side of small boat
5592        YEMEN                                            Standing

     Fatal (Y/N)
4636           Y
1679           Y
1678           Y
2035           N
6049           Y
...          ...
5547         NaN
5611           Y
5473           N
5591           Y
5592           Y

[5715 rows x 3 columns]>

In [10]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Finding out the number of cases per country.

In [165]:
df['Country'].value_counts()

USA                 2095
AUSTRALIA           1215
SOUTH AFRICA         535
NEW ZEALAND          120
PAPUA NEW GUINEA     112
                    ...
Sierra Leone           1
ANGOLA                 1
DIEGO GARCIA           1
GHANA                  1
GABON                  1
Name: Country, Length: 206, dtype: int64

In [14]:
df.dropna(subset=['Country','Activity'],inplace=True)
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

Keeping only the necessary columns for the analysis.

In [59]:
df = df[['Country','Activity','Fatal (Y/N)',]]
df

,Country,Activity,Fatal (Y/N)
4636,PHILIPPINES,USS Hoel DD 533 sunk on 10/24/1944 in the Batt...,Y
1679,TONGA,Five men on makeshift raft after their 10 m fi...,Y
1678,TONGA,Five men on makeshift raft after their 10 m fi...,Y
2035,TONGA,Scuba diving,N
6049,AFRICA,Jumped into river,Y
...,...,...,...
5547,YEMEN,Diving around anchored liner,NaN
5611,YEMEN,Wreck of the steamship Sultan of Bombay,Y
5473,YEMEN,Diving around anchored liner,N
5591,YEMEN,Swimming at side of small boat,Y
5592,YEMEN,Standing,Y

In [166]:
df['Country'].unique()

array([' PHILIPPINES', ' TONGA', 'AFRICA', 'ALGERIA', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'ANDAMAN ISLANDS', 'ANGOLA',
       'ANTIGUA', 'ARGENTINA', 'ARUBA', 'ASIA ', 'ATLANTIC OCEAN',
       'AUSTRALIA', 'AZORES', 'BAHAMAS', 'BAHREIN', 'BANGLADESH',
       'BARBADOS', 'BAY OF BENGAL', 'BELIZE', 'BERMUDA', 'BRAZIL',
       'BRITISH ISLES', 'BRITISH NEW GUINEA', 'BRITISH VIRGIN ISLANDS',
       'BRITISH WEST INDIES', 'BURMA', 'Between PORTUGAL & INDIA',
       'CANADA', 'CAPE VERDE', 'CARIBBEAN SEA', 'CAYMAN ISLANDS',
       'CENTRAL PACIFIC', 'CEYLON', 'CEYLON (SRI LANKA)', 'CHILE',
       'CHINA', 'COLUMBIA', 'COMOROS', 'COOK ISLANDS', 'COSTA RICA',
       'CRETE', 'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'Coast of AFRICA',
       'DIEGO GARCIA', 'DJIBOUTI', 'DOMINICAN REPUBLIC', 'ECUADOR',
       'EGYPT', 'EGYPT ', 'EGYPT / ISRAEL', 'EL SALVADOR', 'ENGLAND',
       'EQUATORIAL GUINEA / CAMEROON', 'FALKLAND ISLANDS',
       'FEDERATED STATES OF MICRONESIA', 'FIJI', 'FRANCE',
       'FRENCH POLYNESIA', 'Fiji', 'GABON', 'GEORGIA', 'GHANA',
       'GRAND CAYMAN', 'GREECE', 'GRENADA', 'GUAM', 'GUATEMALA', 'GUINEA',
       'GULF OF ADEN', 'GUYANA', 'HAITI', 'HONDURAS', 'HONG KONG',
       'ICELAND', 'INDIA', 'INDIAN OCEAN', 'INDIAN OCEAN ', 'INDONESIA',
       'IRAN', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'ITALY / CROATIA',
       'JAMAICA', 'JAPAN', 'JAVA', 'JOHNSTON ISLAND', 'KENYA', 'KIRIBATI',
       'KOREA', 'KUWAIT', 'LEBANON', 'LIBERIA', 'LIBYA', 'MADAGASCAR',
       'MALAYSIA', 'MALDIVE ISLANDS', 'MALDIVES', 'MALTA',
       'MARSHALL ISLANDS', 'MARTINIQUE', 'MAURITIUS', 'MAYOTTE',
       'MEDITERRANEAN SEA', 'MEXICO', 'MEXICO ', 'MICRONESIA',
       'MID ATLANTIC OCEAN', 'MID-PACIFC OCEAN', 'MONTENEGRO',
       'MOZAMBIQUE', 'NAMIBIA', 'NETHERLANDS ANTILLES', 'NEVIS',
       'NEW BRITAIN', 'NEW CALEDONIA', 'NEW GUINEA', 'NEW ZEALAND',
       'NICARAGUA', 'NICARAGUA ', 'NIGERIA', 'NORTH ATLANTIC OCEAN',
       'NORTH ATLANTIC OCEAN ', 'NORTH PACIFIC OCEAN', 'NORTH SEA',
       'NORTHERN ARABIAN SEA', 'NORTHERN MARIANA ISLANDS', 'NORWAY',
       'OCEAN', 'OKINAWA', 'PACIFIC OCEAN', 'PACIFIC OCEAN ', 'PALAU',
       'PALESTINIAN TERRITORIES', 'PANAMA', 'PAPUA NEW GUINEA',
       'PARAGUAY', 'PERSIAN GULF', 'PERU', 'PHILIPPINES', 'PORTUGAL',
       'PUERTO RICO', 'RED SEA', 'RED SEA / INDIAN OCEAN', 'RED SEA ',
       'REUNION', 'REUNION ISLAND', 'RUSSIA', 'SAMOA', 'SAN DOMINGO',
       'SAUDI ARABIA', 'SCOTLAND', 'SENEGAL', 'SEYCHELLES',
       'SIERRA LEONE', 'SINGAPORE', 'SLOVENIA', 'SOLOMON ISLANDS',
       'SOLOMON ISLANDS / VANUATU', 'SOMALIA', 'SOUTH AFRICA',
       'SOUTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'SOUTH KOREA',
       'SOUTH PACIFIC OCEAN', 'SOUTHWEST PACIFIC OCEAN', 'SPAIN',
       'SRI LANKA', 'ST HELENA, British overseas territory',
       'ST. MAARTIN', 'ST. MARTIN', 'SUDAN', 'SUDAN ', 'SYRIA',
       'Seychelles', 'Sierra Leone', 'TAIWAN', 'TANZANIA', 'TASMAN SEA',
       'THAILAND', 'THE BALKANS', 'TOBAGO', 'TONGA', 'TRINIDAD & TOBAGO',
       'TUNISIA', 'TURKEY', 'TURKS & CAICOS', 'TUVALU',
       'UNITED ARAB EMIRATES', 'UNITED ARAB EMIRATES (UAE)',
       'UNITED KINGDOM', 'URUGUAY', 'USA', 'VANUATU', 'VENEZUELA',
       'VIETNAM', 'WEST INDIES', 'WESTERN SAMOA', 'YEMEN', 'YEMEN '],
      dtype=object)

In [66]:
df['Country'] = df['Country'].str.replace('?', ' ')
df['Country'].unique()

array([' PHILIPPINES', ' TONGA', 'AFRICA', 'ALGERIA', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'ANDAMAN ISLANDS', 'ANGOLA',
       'ANTIGUA', 'ARGENTINA', 'ARUBA', 'ASIA ', 'ATLANTIC OCEAN',
       'AUSTRALIA', 'AZORES', 'BAHAMAS', 'BAHREIN', 'BANGLADESH',
       'BARBADOS', 'BAY OF BENGAL', 'BELIZE', 'BERMUDA', 'BRAZIL',
       'BRITISH ISLES', 'BRITISH NEW GUINEA', 'BRITISH VIRGIN ISLANDS',
       'BRITISH WEST INDIES', 'BURMA', 'Between PORTUGAL & INDIA',
       'CANADA', 'CAPE VERDE', 'CARIBBEAN SEA', 'CAYMAN ISLANDS',
       'CENTRAL PACIFIC', 'CEYLON', 'CEYLON (SRI LANKA)', 'CHILE',
       'CHINA', 'COLUMBIA', 'COMOROS', 'COOK ISLANDS', 'COSTA RICA',
       'CRETE', 'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'Coast of AFRICA',
       'DIEGO GARCIA', 'DJIBOUTI', 'DOMINICAN REPUBLIC', 'ECUADOR',
       'EGYPT', 'EGYPT ', 'EGYPT / ISRAEL', 'EL SALVADOR', 'ENGLAND',
       'EQUATORIAL GUINEA / CAMEROON', 'FALKLAND ISLANDS',
       'FEDERATED STATES OF MICRONESIA', 'FIJI', 'FRANCE',
       'FRENCH POLYNESIA', 'Fiji', 'GABON', 'GEORGIA', 'GHANA',
       'GRAND CAYMAN', 'GREECE', 'GRENADA', 'GUAM', 'GUATEMALA', 'GUINEA',
       'GULF OF ADEN', 'GUYANA', 'HAITI', 'HONDURAS', 'HONG KONG',
       'ICELAND', 'INDIA', 'INDIAN OCEAN', 'INDIAN OCEAN ', 'INDONESIA',
       'IRAN', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'ITALY / CROATIA',
       'JAMAICA', 'JAPAN', 'JAVA', 'JOHNSTON ISLAND', 'KENYA', 'KIRIBATI',
       'KOREA', 'KUWAIT', 'LEBANON', 'LIBERIA', 'LIBYA', 'MADAGASCAR',
       'MALAYSIA', 'MALDIVE ISLANDS', 'MALDIVES', 'MALTA',
       'MARSHALL ISLANDS', 'MARTINIQUE', 'MAURITIUS', 'MAYOTTE',
       'MEDITERRANEAN SEA', 'MEXICO', 'MEXICO ', 'MICRONESIA',
       'MID ATLANTIC OCEAN', 'MID-PACIFC OCEAN', 'MONTENEGRO',
       'MOZAMBIQUE', 'NAMIBIA', 'NETHERLANDS ANTILLES', 'NEVIS',
       'NEW BRITAIN', 'NEW CALEDONIA', 'NEW GUINEA', 'NEW ZEALAND',
       'NICARAGUA', 'NICARAGUA ', 'NIGERIA', 'NORTH ATLANTIC OCEAN',
       'NORTH ATLANTIC OCEAN ', 'NORTH PACIFIC OCEAN', 'NORTH SEA',
       'NORTHERN ARABIAN SEA', 'NORTHERN MARIANA ISLANDS', 'NORWAY',
       'OCEAN', 'OKINAWA', 'PACIFIC OCEAN', 'PACIFIC OCEAN ', 'PALAU',
       'PALESTINIAN TERRITORIES', 'PANAMA', 'PAPUA NEW GUINEA',
       'PARAGUAY', 'PERSIAN GULF', 'PERU', 'PHILIPPINES', 'PORTUGAL',
       'PUERTO RICO', 'RED SEA', 'RED SEA / INDIAN OCEAN', 'RED SEA ',
       'REUNION', 'REUNION ISLAND', 'RUSSIA', 'SAMOA', 'SAN DOMINGO',
       'SAUDI ARABIA', 'SCOTLAND', 'SENEGAL', 'SEYCHELLES',
       'SIERRA LEONE', 'SINGAPORE', 'SLOVENIA', 'SOLOMON ISLANDS',
       'SOLOMON ISLANDS / VANUATU', 'SOMALIA', 'SOUTH AFRICA',
       'SOUTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'SOUTH KOREA',
       'SOUTH PACIFIC OCEAN', 'SOUTHWEST PACIFIC OCEAN', 'SPAIN',
       'SRI LANKA', 'ST HELENA, British overseas territory',
       'ST. MAARTIN', 'ST. MARTIN', 'SUDAN', 'SUDAN ', 'SYRIA',
       'Seychelles', 'Sierra Leone', 'TAIWAN', 'TANZANIA', 'TASMAN SEA',
       'THAILAND', 'THE BALKANS', 'TOBAGO', 'TONGA', 'TRINIDAD & TOBAGO',
       'TUNISIA', 'TURKEY', 'TURKS & CAICOS', 'TUVALU',
       'UNITED ARAB EMIRATES', 'UNITED ARAB EMIRATES (UAE)',
       'UNITED KINGDOM', 'URUGUAY', 'USA', 'VANUATU', 'VENEZUELA',
       'VIETNAM', 'WEST INDIES', 'WESTERN SAMOA', 'YEMEN', 'YEMEN '],
      dtype=object)

In [139]:
df['Country'].value_counts().head(3)

USA             2095
AUSTRALIA       1215
SOUTH AFRICA     535
Name: Country, dtype: int64

Finding the most dangerous activities in the top 3 countries.

In [108]:
usa_activity = df[(df['Country'] == 'USA')]
usa_activity['Activity'].value_counts()

Surfing                                     564
Swimming                                    310
Fishing                                     115
Wading                                      101
Standing                                     57
                                           ...
SCUBA diving                                  1
Pulling hooked salmon to boat                 1
ship William Penn grounded & broke apart      1
Paddle Boarding                               1
Harpooning turtles                            1
Name: Activity, Length: 508, dtype: int64

Number of Fatal cases when attacked while surfing

Total cases 564 , Fatal 8, corresponding to 1.41 % of total cases (surfing) in USA.

In [145]:
usa_activity = df.query('Country == "USA" and Activity == "Surfing"')
usa_activity.value_counts()

Country  Activity  Fatal (Y/N)
USA      Surfing   N              527
                   Y                8
                   UNKNOWN          3
dtype: int64

In [123]:
australia_activity = df[(df['Country'] == 'AUSTRALIA')]
australia_activity['Activity'].value_counts()

Surfing                                            195
Swimming                                           156
Fishing                                            113
Spearfishing                                        71
Bathing                                             58
                                                  ...
Standing, gathering oysters                          1
Diving, feeding sharks                               1
Dived from dinghy to retrieve oar in heavy seas      1
Fishing for cod                                      1
Bathing in 5' of water                               1
Name: Activity, Length: 375, dtype: int64

Total cases 195 , Fatal 14 - corresponding to 7.17 % of total cases (surfing) in Australia.

In [126]:
stralia_activity = df.query('Country == "AUSTRALIA" and Activity == "Surfing"')
stralia_activity.value_counts()

Country    Activity  Fatal (Y/N)
AUSTRALIA  Surfing   N              172
                     Y               14
                     UNKNOWN          2
dtype: int64

In [127]:
sa_activity = df[(df['Country'] == 'SOUTH AFRICA')]
sa_activity['Activity'].value_counts()

Surfing                       97
Swimming                      85
Spearfishing                  49
Fishing                       37
Treading water                19
                              ..
Swimming, poaching abalone     1
On a "shark hunt"              1
Swimming with board            1
Freediving                     1
Swimming / snorkeling          1
Name: Activity, Length: 150, dtype: int64

Total cases 98 , Fatal 8 - corresponding to 8.24 % of total cases (surfing) in South Africa.

In [144]:
sa_activity = df.query('Country == "SOUTH AFRICA" and Activity == "Surfing"')
sa_activity.value_counts()

Country       Activity  Fatal (Y/N)
SOUTH AFRICA  Surfing   N              87
                        Y               8
dtype: int64

According to this study, we can see that the USA has the biggest number of total cases. However, proportionally, Australia has the most fatal attacks while practicing surf.